<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>The Movie Blog</title>

 
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/style.css">

  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
</head>
<body>
    <nav>
        <div class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <a href="/" class="pure-menu-link">Home</a>
                </li>
                {{#if loggedIn}}
                <li class="pure-menu-item">
                    <a href="/" class="pure-menu-link">Home(logged in)</a>
                </li>
                <li>
                  <button id="logout-btn" class="pure-menu-link">Logout</button> 
                </li>
                <li class="pure-menu-item">
                    <a href="/profile" class="pure-menu-link">Profile</a>
                </li>
                {{else}}
                <li class="pure-menu-item">
                    <a href="/login" class="pure-menu-link">signup!</a>
                </li>
            </ul>
             {{/if}}
        </div>
        <h1 class="pure-menu pure-menu-horizontal">       
            <!-- <a href="#" class="pure-menu-heading pure-menu-link" id="banner">The Tech Blog</a> -->
        
            <span id="banner" href="/">The Movie Blog</span>
            
            
        </h1>
    </nav>
    
    {{{ body }}}
  
    {{#if logged_in}}
    <h2>Articles</h2>

    {{{ body }}}

    <h2>Movies Near Me</h2>


    <h2>Trending Movies</h2>
      <canvas id="myChart" width="400" height="400"></canvas>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {{/if}}


<body>
  <header class="display-flex justify-space-between align-center p-2">
   
    {{#if logged_in}}
    <nav>
      <button class="btn" id="logout">logout</button>

      <li class="pure-menu-item">
        <a href="/profile" class="pure-menu-link">Profile</a>
      </li>

    </nav>
    {{/if}}
  </header>
  
        <main class="container container-fluid mt-5">

  </main>
  <footer>
      
  </footer>
  {{#if logged_in}}
 
  
  {{/if}}

  <nav id="navbar">
        <ul id="navbar-ul">
            <li>
                <p><a class="link" href="/">Home</a></p>
            </li>
            {{#if loggedIn}}
            <script src="/css/logout.js"></script>
            <li>
                <p><a class="link" href="/dashboard">Dashboard</a></p>
            </li>
            <li>
                <p><button id="logout-btn" class="btn-no-style">Logout</button> </p>
            </li>

            {{else}}
            <li>
                <p><a class="link" href="/login">Login</a></p>
            </li>
            {{/if}}
        </ul>
        
    </nav>
  

</body>


    <footer>
      
    </footer>
  </div>

</body>

<script src="/css/home.js"></script>

</html>