
    {{#each notes as |note|}}
    <div class="pure-g">
        <div class="pure-u-23-24 center-item-h">
        <h3>{{note.title}}</h3>
        <p>{{note.description}}</p>
      </div>
    </div>
  {{/each}}
