
<div class="wrapper">
    <form class="pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">
                <label for="email-login">Email:</label>
                <input type="text" id="email-login" />
            </div>
            <div class="pure-control-group">
                <label for="password-login">Password:</label>
                <input type="password" id="password-login" />
            </div>
            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary" id="login-btn">Login</button>
            </div>
            <br>
            <div class="pure-control-group"
                <div>
                    <label for="username-signup">Name:</label>
                    <input id="username-signup" type="text"/>
                </div>
            <div class="pure-control-group"
                <div>
                    <label for="email-signup">Email:</label>
                    <input type="text" id="email-signup" />
                </div>
            <div class="pure-control-group"
                <div>
                    <label for="password-signup">Password:</label>
                    <input type="password" id="password-signup" />
                </div>
                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary" id="signup-btn">Signup</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
{{!-- Load the login script --}}
<script src="/js/login.js"></script>



