<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>My Activity</h3>
  <div class="col-md-6 project-list">
    
    
    
    <h3>My Reviews</h3>

</div>

<script src="../css/profile.js"></script>
