/* header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
} */

body {
  color: whitesmoke;
}

p, h3 {
  padding: .5em;
  border-radius: .2rem;
  margin: .5rem;
}

nav {
  background-color:#0077ff;
  color:#031426;
  font-weight: 700;
  padding: 1em;
  margin-bottom: 2em;
}

nav div {
  padding: .5em;
}

#banner {
  background-color:#031426;
  color:#0077ff;
  font-weight:900;
  margin-bottom: 1.5em;
  margin-left: 1em;
  padding: .3em;
  border-radius: .2em;
  box-shadow: 5px 5px 5px #000000;
}

.center-item-h {
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: left;
  margin-bottom: 1em;
  color:#000000;
  border: solid #031426;
  border-radius: .5rem;
  box-shadow: 5px 5px 5px #000000;
  
}

.center-item-h h3 {
  background-color:#031426;
  color:whitesmoke;
}

.input {
  margin-left: auto !important;
  margin-right: auto !important;
  /* padding: .5em; */
}

.pure-menu-link:hover, .pure-menu-link:active {
  text-decoration: underline;
}

.pure-menu-link:link {
  color: white;
}

.pure-menu-link:visited {
  color: white;
}

h2 {
  padding: .5rem;
  background-color: #031426;
  color: #0077ff;
  text-align-last: center;
}

canvas {
  border-style: solid;
  margin: 2rem;
  padding: 2rem;
  border-radius: 2rem;
  height: 400px;
  width: 500px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0077ff;
  color: #000000;
  text-align: center;
}

label {
  color: #000000;
}

.button {
  border: solid;
  border-radius: 4px;
}

h1 {
  color: white;
  text-align-last: left;
}

h4 {
  color: #031426;
}

p {
  color: black;
}

.card {
  border-style: solid;
  border-radius: 1rem;
  border-color: #031426;
  margin: 1rem;
  padding: 1rem;
  background-color: #0077ff;
  box-shadow: 5px 5px 5px #000000;
}

.post-header {
  margin: 1rem;
  border-style: solid;
  border-radius: .5rem;
  border-color: #031426;
  padding: .5rem;
  background-color: #031426;
}